body{
    background-color: #81BEF7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #2E2EFE;

}

.paragrafoCorVerde{
    color: #088A08;

}